#index {
    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header"
            "frase frase"
            "section1 section2"
            "section3 section4"
            "footer footer";
    }

    .header {
        grid-area: header;
    }

    .frase {
        grid-area: frase;
        display: flex;
        flex-direction: column;
        background-color: $colorFondo;
        align-items: center;
        justify-content: center;
        color: black;
        padding-top: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        animation-name: unaAnimacion;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        img {
            display: flex;
            justify-content: center;
            width: 60%;
        }
    }




    .section1 {
        grid-area: section1;
        display: flex;
        justify-content: center;

        img {
            width: 50%;
        }
    }



    .section1,
    .section2 {
        @extend %estilosecciones;
        @include fontStyle($colorFondo, $textoPrimario);
    }

    .titulosection2 {
        display: flex;
        justify-content: center;
        padding: 20px;
        color: $textoPrimario;
    }

    .section2 {
        grid-area: section2;
        flex-direction: column;
        justify-content: center;
        padding: 20%;
        text-align: center;
        font-size: 1.5em;
    }



    .section3 {
        grid-area: section3;
        background-color: $colorFondo;
        flex-direction: column;
        justify-content: center;
        padding: 20%;
        font-family: 'lato', sans-serif;
        text-align: center;
        font-size: 1.5em;
    }


    .section4 {
        grid-area: section4;
        background-color: #fff6f9;
        display: flex;
        justify-content: center;

        img {
            width: 50%;
        }
    }

    .icon {
        padding: 30px;
    }
}