
//estilos footer
.footer {
    grid-area: footer;
    background-color: #a2d2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
 .redes {
    display: flex;
    align-items: center;
    padding: 10px;
  div {
    width: 50px;
    }
}
}
  

  
  