//stilo header
.header {
    display: flex;
    background-color: #a2d2ff;

    &__logo {
        height: 80px;
        margin: 10px;
    }

    &__nav {
        display: flex;
        width: 100%;
    }

    &__ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        font-family: 'Lato', sans-serif;

        li {
            padding: 3% 1% 2% 1%;
            text-decoration: none;
            color: black;

        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                background-color: #ffa2d8;
                color: white;
                font-weight: bolder;

            }
        }


    }

}